@media (max-width: 1300px)
    html
        font-size: 56.3%

    .footer
        &__img
            height: 90%

.cards-item
    &__img
        height: 80%

@media (max-width: 1050px)
    html
        font-size: 50%

@media (max-width: 930px)
    html
        font-size: 46.8%
    .container
        padding: 0 3rem
    .footer
        &__img
            height: 75%
    .section-learning
        min-height: 55rem

@media (max-width: 770px)
    .nav-menu
        display: none
    .icons
        &__item
            height: 6rem
            width: 6rem
            i
                font-size: 3rem
    .left-wrapper
        &__img
            width: 50rem
    .right-wrapper
        top: 6rem
    .main-section
        min-height: 50rem
        &__second-ring
            display: none
    .section-courses
        &__cards-box
            flex-direction: column
            align-items: center
    .cards-item
        width: 70%
        &__text
            font-size: 4rem
            transform: rotate(0deg)
            width: 47rem
    .icons-item
        img
            display: none
    .section-learning
        min-height: 43rem
        padding-top: 2rem
        &__left-wrapper
            display: none
        .right-wrapper
            max-width: 80%
            margin: 0 auto

@media (max-width: 590px)
