*
    padding: 0
    margin: 0
    box-sizing: border-box

$color-blue: #5290ea
$color-orange: #F28B64
$color-grey: #E2E2E2
$background-color: #F0F0F0
$box-shadow: 0 4px 4px rgba(0,0,0,0.25)

.container
    max-width: 1140px
    margin: 0 auto

.main-section
    min-height: 800px
    background-color: $background-color
    padding-top: 16px
    &__logo
        width: 152px
    &__nav-container
        display: flex
        justify-content: space-between
        align-items: center
        height: 70px
    &__content-container
        display: flex
        position: relative
    &__first-ring
        position: absolute
        top: 120px
        right: 70px
    &__second-ring
        position: absolute
        bottom: -150px
        right: -70px
        &_big
            height: 285px
            width: 285px

.nav-menu
    &__list
        display: flex
        gap: 64px
        align-items: center
    &__list-item
        font-size: 18px
        font-weight: 600
        list-style-type: none
        a
            text-decoration: none

.left-wrapper
    position: relative
    &__rectangle-blue
        position: absolute
        height: 220px
        width: 565px
        background-color: $color-blue
        transform: rotate(-64deg)
        top: 120px
        left: -30px
        border-radius: 100px
        box-shadow: $box-shadow
    &__rectangle-orange
        position: absolute
        height: 220px
        width: 618px
        background-color: $color-orange
        transform: rotate(-50deg)
        top: 130px
        left: -8px
        border-radius: 100px
        box-shadow: $box-shadow
    &__rectangle-grey
        position: absolute
        height: 220px
        width: 608px
        background-color: $color-grey
        transform: rotate(-36deg)
        top: 180px
        left: 20px
        border-radius: 100px
        box-shadow: $box-shadow
    &__img
        position: relative
        width: 880px

.icons
    display: flex
    gap: 17px
    &__item
        height: 40px
        width: 40px
        border: 1px solid $color-blue
        border-radius: 50%
        display: flex
        justify-content: center
        align-items: center
        cursor: pointer
    &__item:hover
        box-shadow: $box-shadow
        i
            font-size: 17.75px
.title
    font-size: 72px
    font-weight: 700
.right-wrapper
    position: absolute
    width: 320px
    right: 80px
    top: 125px
    &__text
        margin-bottom: 20px
        font-size: 16px
.buttons
    display: flex
    &__main-btn
        font-size: 18px
        height: 60px
        width: 200px
        color: white
        font-weight: 700
        background-color: $color-orange
        border: none
        border-radius: 100px
        box-shadow: $box-shadow
        cursor: pointer
        margin-right: 30px
        &:hover
            background-color: #a35c42
    &__icon-btn
        display: flex
        align-items: center
        img
            margin-right: 15px
            transition: .3s all
            &:hover
                transform: scale(110%)
    &__text
        font-size: 16px

.ring
    display: flex
    justify-content: center
    align-items: center
    height: 194px
    width: 194px
    border-radius: 50%
    background-image: linear-gradient(144deg, #ed7a5075 0%,#4889ea71 54%,#2C2C2C82 100%)
    &_big
        height: 285px
        width: 285px
        &::before
            height: 188px
            width: 188px
    &::before
        display: block
        content: ""
        height: 130px
        width: 130px
        background-color: $background-color
        border-radius: 50%
